@using OrtakFilmProjesi.Models
@model User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Log In";
}
<div class="d-flex justify-content-center">
    <div clss="col-md-4 text-center">
        <form class="form-signin" asp-action="Login">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <div class="form-group">
                <label asp-for="Mail" class="sr-only">Email address</label>
                <input asp-for="Mail" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            </div>
            <input class="btn btn-lg btn-primary" type="submit" value="Sign in" />
        </form>

        @if(TempData["Message"]!=null)
        {
            <div style="margin-top:10px" class="alert alert-danger" role="alert">
                @TempData["Message"]
            </div>
        }

    </div>
</div>
